@font-face {
  font-family: 'quark';
  src: url('../font/Quark-Light.otf');
  font-style: normal;
}

@font-face {
  font-family: 'quark';
  src: url('../font/Quark-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'cat';
  src: url('../font/IntrudingCat.otf');
  font-style: normal;
}

body {
  font-family: 'cat', 'quark';
  font-size: 24px;
}

#nav {
  background-color: #FFD101;
}

.landing-height {
  min-height: 90vh;
  background-image: url('../img/bg1.png');
  background-size: cover;
  flex-direction: column;
  padding: 1.3em 0;
}

.landing-height .hello-field {
  max-height: 300px;
}

img.helloworld {
  max-height: 230px;
}

img.breaklimit {
  max-height: 180px;
}

.why-height {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  min-height: 90vh;
  background-image: url('../img/bg2.png');
  background-size: cover;
  background-position: center;
}

.team-height {
  padding: 1em;
  min-height: 90vh;
  background-image: url('../img/bg3.png');
  background-size: cover;
  background-position: center;
}

.team-height img{
  max-height: 250px;
}

.where-height {
  padding: 1em;
  min-height: 90vh;
  background-image: url('../img/bg4.png');
  background-size: cover;
  background-position: center;
}

.when-height {
  min-height: 90vh;
  background-image: url('../img/bg5.png');
  background-size: cover;
  background-position: center;
}

.sponsor-height {
  min-height: 90vh;
  background-image: url('../img/bg6.png');
  background-size: cover;
  background-position: center;
}

.game-height {
  min-height: 90vh;
  background-image: url('../img/bg6.png');
  background-size: cover;
  background-position: center;
}

.portfolio-height {
  min-height: 90vh;
  background-image: url('../img/bg6.png');
  background-size: cover;
  background-position: center;
}

.header-text {
  font-family: 'cat';
  padding-top: 1.3em;
  font-weight: bold;
}

.what-text {
  color: #FFD101;
  font-size: 4em;
  height: auto;
  font-family: 'cat';
}

.position-fix {
  position: absolute;
  bottom: 0;
  left: 0;
}