@font-face {
  font-family: 'quark';
  src: url('../font/Quark-Light.otf');
  font-style: normal;
}

@font-face {
  font-family: 'quark';
  src: url('../font/Quark-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'cat';
  src: url('../font/IntrudingCat.otf');
  font-style: normal;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'cat', 'quark';
  font-size: 24px;
}

.bangmod-cloud {
  width: 250px;
  background: #fff;
  padding: 0.5em;
  border-radius: 20px;
}

p {
  font-family: 'quark';
}

nav {
  background-color: #FFD101;
  min-height: 55px;
  z-index: 99;
}

#nav nav li {
  margin: 0 1em;
}

#nav .navbar-toggler {
  top: 8px;
  right: 10px;
  z-index: 1;
  position: absolute;
}

.nav {
  align-items: center;
  justify-content: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.nav-pills {
  z-index: 0;
}

.nav-pills .nav-link {
  margin: 0 1em;
}

#nav .navbar-brand {
  position: absolute;
  top: 0;
}

.close {
  text-shadow: none !important;
  opacity: 1 !important;
}

.logo-sm {
  max-width: 80px;
}

img.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

img.flip-y {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.alpaca {
  max-height: 9em;
}

.landing-height {
  position: relative;
  min-height: 90vh;
  background-image: url('../img/bg1.png');
  background-size: cover;
  background-position: center bottom;
  flex-direction: column;
  padding: 1.3em 0;
}

.box-break , .box-btn {
  margin-top: 2em;
}

.register-btn {
  border: 5px solid #fff;
  font-size: 1.5em;
  border-radius: 30px;
  padding: 0em 1em;
  background-color: #fff;
  color: #000;
  min-width: 6em;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.2s;
  z-index: 2;
}

.alpaca-jump {
  overflow: hidden;
  height: 300px;
  width: 300px;
  position: absolute;
  left: 1300px;
  bottom: 10px;
  animation-name: jumpper !important;
  animation-iteration-count: infinite;
  z-index: 0;
}

.alpaca-jump-1{animation-duration:4.2s!important}.alpaca-jump-2{animation-duration:6s!important}.alpaca-jump-3{animation-duration:5.5s!important}.alpaca-jump-4{animation-duration:5.2s!important}.alpaca-jump-5{animation-duration:4.1s!important}.alpaca-jump-6{animation-duration:3s!important}.alpaca-jump-7{animation-duration:7s!important}.alpaca-jump-8{animation-duration:6.3s!important}.alpaca-jump-9{animation-duration:5s!important}

@keyframes jumpper{0%,20%,40%,60%,80%{transform:translateY(0)}10%,30%,50%,70%,90%{transform:translateY(-50px)}10%{left:1200px}15%{left:1100px}20%{left:1000px}25%{left:900px}30%{left:800px}35%{left:700px}40%{left:600px}45%{left:500px}50%{left:400px}55%{left:300px}60%{left:200px}65%{left:100px}70%{left:0}75%{left:-100px}80%{left:-200px}85%{left:-300px}90%{left:-400px}100%{left:-500px}}

.landing-height .hello-field {
  max-height: 300px;
}

img.helloworld {
  max-height: 5em;
}

img.breaklimit {
  max-height: 4em;
}

.why-height {
  padding: 50px 1em;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-image: url('../img/bg2.png');
  background-size: cover;
  background-position: center 95%;
}

.team-height {
  padding: 2em 1em;
  min-height: 90vh;
  background-image: url('../img/bg3-1.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.team-height img.cloud {
  position: absolute;
  z-index: 1;
}

.team-height img.joox {
  position: absolute;
  z-index: 0;
}

.joox-left {
  animation-name: joox-left;
  animation-duration: 5s !important;
  animation-iteration-count: infinite;
}

@keyframes joox-left {
  0% {
    top: 2.5em;
  }
  15% {
    top: 6em;
  }
  60% {
    top: 2.5em;
  }
  75% {
    top: 6em;
  }
  100% {
    top: 2.5em;
  }
}

.joox-right {
  animation-name: joox-right;
  animation-duration: 3s !important;
  animation-iteration-count: infinite;
}

@keyframes joox-right {
  0% {
    top: 14.5em;
  }
  10% {
    top: 17em;
  }
  20% {
    top: 14.5em;
  }
  30% {
    top: 17em;
  }
  60% {
    top: 14.5em;
  }
  75% {
    top: 17em;
  }
  100% {
    top: 14.5em;
  }
}

.where-height {
  padding: 50px 1em;
  min-height: 100vh;
  background-image: url('../img/bg4.png');
  background-size: cover;
  background-position: center bottom;
}

.when-height {
  padding: 0;
  flex-direction: column;
  min-height: 120vh;
  background-image: url('../img/bg5.png');
  background-size: cover;
  background-position: center 99%;
}

.sponsor-height {
  padding: 0.5em 0 2em 0;
  font-size: 1.7em;
  color: #fff;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#324663), to(#324663));
  background-image: -webkit-linear-gradient(top, #324663, #324663);
  background-image: -moz-linear-gradient(top, #324663, #324663);
  background-image: linear-gradient(to bottom, #324663, #324663);
  background-size: cover;
  background-position: center;
}

.game-height {
  min-height: 115vh;
  /* background-color: #BF8E8E; */
  background-image: url('../img/bg6.png');
  background-size: cover;
  background-position: top center;
}

.game-height span {
  color: #fff;
  font-size: 1.3em;
  margin: 1em;
}
.portfolio-height {
  min-height: 90vh;
  background-image: url('../img/bg7.png');
  background-size: cover;
  background-position: center;
}

.contact-height {
  position: relative;
  padding: 40px 0 0;
  min-height: 90vh;
  /* background-color: #BF8E8E; */
  background-color: #233244;
  background-size: cover;
  background-position: center 99%;
}

footer {
  font-family: 'quark';
  font-size: 15px;
  color: #fff;
  min-height: 70px;
  background-color: #324663;
}

.header-text {
  font-family: 'cat';
  padding-top: 1.3em;
  font-weight: bold;
}

.what-text {
  margin-bottom: 1.2em;
  max-height: 3em;
  margin-top: 30px;
}

.position-fix {
  position: absolute;
  bottom: 0;
  left: 0;
}

.team-logo-top {
  cursor: pointer;
  height: 150px;
  width: 150px;
  margin: 0;
}

.modal {
  display: none;
  background: rgba(0,0,0,.7);  
}

.modal-dialog {
  margin: 3em auto 0;
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

/* spinner */

@keyframes circle {
  0% {  
    border-radius: 100%;
    border-top-color: #FF4612;
    border-right-color: #FF4612;
    border-bottom-color: #FF4612;
    transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
  }
  100% {
    border-radius: 100%;
    border-top: 15px solid #FF4612;
    border-left-width: 15px;
    border-right-width: 15px;
    transform: rotate(720deg);
    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
  }
}

.preload {
  -webkit-transition:  0.5s;
  -moz-transition:  0.5s;
  transition:  0.5s;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #FFD101;
}

.border-spin {
  width: 300px;
  position: absolute;
  animation-name: circle !important;
  animation-duration: 2s !important;
  animation-iteration-count: infinite;
  height: 300px;
}

.preload img {
  margin: 1em;
  background: none;
  border: 0;
  box-sizing: border-box;
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border-radius: 250px;
}

@media only screen and
(min-width: 0px) and
(max-width: 799px) {
  img.breaklimit {
      max-height: 3em;
  }
}

@media only screen and
(min-width: 800px){
  .when-height {
    flex-direction: row;
  }
  .alpaca {
    max-height: 22em;
  }
}

@media only screen and
(min-width: 1024px){
  .team-logo-top {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  #nav .navbar-brand {
    position: absolute;
    top: 10px;
  }
  .logo-sm {
    position: absolute;
    top: -3px;
  }
  nav {
    max-height: 55px;
  }
}

@media only screen and
(min-width: 1300px) {
  img.helloworld {
    max-height: 6em;
  }
  .team-height {
    padding: 2em;
  }
  .where-height {
    padding: 2em;
  }
  .when-height {
    padding: 3em 2em;
  }
}
