@font-face {
  font-family: 'quark';
  src: url('../font/Quark-Light.otf');
  font-style: normal;
}

@font-face {
  font-family: 'quark';
  src: url('../font/Quark-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'cat';
  src: url('../font/IntrudingCat.otf');
  font-style: normal;
}

body {
  font-family: 'cat', 'quark';
  font-size: 24px;
}

#nav {
  background-color: #FFD101;
}
#nav nav {
  color: #fff;
}

.logo-sm {
  max-width: 80px;
}

img.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.alpaca {
  max-height: 9em;
}

.landing-height {
  min-height: 90vh;
  background-image: url('../img/bg1.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
  flex-direction: column;
  padding: 1.3em 0;
}

.landing-height .hello-field {
  max-height: 300px;
}

img.helloworld {
  max-height: 5em;
}

img.breaklimit {
  max-height: 4em;
}

.why-height {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  min-height: 90vh;
  background-image: url('../img/bg2.png');
  background-size: cover;
  background-position: center bottom;
}

.team-height {
  padding: 1em;
  min-height: 90vh;
  background-color: #CAF3FF;
  background-size: cover;
  background-position: center;
}

.where-height {
  padding: 1em;
  min-height: 100vh;
  background-image: url('../img/bg4.png');
  background-size: cover;
  background-position: center;
}

.when-height {
  min-height: 90vh;
  background-image: url('../img/bg5.png');
  background-size: cover;
  background-position: center bottom;
}

.sponsor-height {
  min-height: 90vh;
  background-color: #BF8E8E;
  background-size: cover;
  background-position: center;
}

.game-height {
  min-height: 90vh;
  background-color: #BF8E8E;
  background-size: cover;
  background-position: center;
}

.portfolio-height {
  min-height: 90vh;
  background-color: #BF8E8E;
  background-size: cover;
  background-position: center;
}

.contact-height {
  min-height: 90vh;
  background-color: #BF8E8E;
  background-size: cover;
  background-position: center;
}

.header-text {
  font-family: 'cat';
  padding-top: 1.3em;
  font-weight: bold;
}

.what-text {
  max-height: 2.5em;
}

.position-fix {
  position: absolute;
  bottom: 0;
  left: 0;
}

.team-logo-top {
  height: 150px;
  width: 150px;
  margin: 0;
}

.team-logo-bottom {
  height: 150px;
  width: 150px;
}

@media only screen and
(min-width: 1024px){
  .team-logo-top {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .team-logo-bottom {
    margin-bottom: 1em;
  }
}